# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# The heroku deployment repository
/juanmanuelgg/.git*

# =======================================================================================
/juanmanuelgg/HELP.md
/juanmanuelgg/target/
/juanmanuelgg/!.mvn/wrapper/maven-wrapper.jar
/juanmanuelgg/!**/src/main/**/target/
/juanmanuelgg/!**/src/test/**/target/

### STS ###
/juanmanuelgg/.apt_generated
/juanmanuelgg/.classpath
/juanmanuelgg/.factorypath
/juanmanuelgg/.project
/juanmanuelgg/.settings
/juanmanuelgg/.springBeans
/juanmanuelgg/.sts4-cache

### IntelliJ IDEA ###
/juanmanuelgg/.idea
/juanmanuelgg/*.iws
/juanmanuelgg/*.iml
/juanmanuelgg/*.ipr

### NetBeans ###
/juanmanuelgg/nbproject/private/
/juanmanuelgg/nbbuild/
/juanmanuelgg/dist/
/juanmanuelgg/nbdist/
/juanmanuelgg/.nb-gradle/
/juanmanuelgg/build/
/juanmanuelgg/!**/src/main/**/build/
/juanmanuelgg/!**/src/test/**/build/

### VS Code ###
/juanmanuelgg/.vscode/
