mat-grid-tile{
    padding-bottom: 10px;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #2196F3;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.top-padded {
    display: grid;
    place-items: center;
    margin-top: 10px;
}